
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
bin/Debug/Assembly-CSharp.dll
*.dll
bin/Debug/Assembly-CSharp.xml
bin/Debug/Blackmoth.pdb
bin/Debug/UnityEngine.xml
obj/Debug/Blackmoth.csproj.CopyComplete
obj/Debug/Blackmoth.csproj.CoreCompileInputs.cache
obj/Debug/Blackmoth.csproj.FileListAbsolute.txt
obj/Debug/Blackmoth.csprojResolveAssemblyReference.cache
obj/Debug/Blackmoth.pdb
Properties/AssemblyInfo.cs
.vs/BlackmothMod/v15/.suo
.vs/BlackmothMod/v15/Server/sqlite3/db.lock
.vs/BlackmothMod/v15/Server/sqlite3/storage.ide
.vs/BlackmothMod/v15/Server/sqlite3/storage.ide-shm
.vs/BlackmothMod/v15/Server/sqlite3/storage.ide-wal
obj/Debug/BlackmothMod.csproj.CoreCompileInputs.cache
obj/Debug/BlackmothMod.csproj.FileListAbsolute.txt
